<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styless.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5f01a917de.js" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    <header class="header"  > 
        
        <section class="header__sectioncolor">
     
            <a class="contenedor_logo" href="#"><img src="/img/logo-mercado-liebre.svg" alt="logo"></a>
            <form class="buscprod">
                <input class="caja_buscar" type="text" placeholder="Buscar productos, marcas" id="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
    

    
        <p class="compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
        </p></i> 
    </section> 
    <div class="burger-menu">
        <i class="fas fa-bars" aria-hidden="true"></i></div>
        <nav class="nav-home" >
            <ul class="pestanias">
                <li><a href="/home">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="pestanias">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li> 
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>

        
    </header>
    <main class="main-login-caja">
        <form action="/login" method="post">
            <section>
                <article class="articulo-login">
                    <label for="usuario"></label>
                    <input class="input-log" type="email" placeholder="Nombre de usuario o e-mail" required>
                </article>
                <article class="articulo-login">
                    <label for="contraseña"></label>
                    <input class="input-log" type="password" placeholder="Elegi tu contraseña" required>
                </article>
                <article class="articulo-login">
                    <button class="boton-enviar" type="submit">Enviar</button>
                </article>
            </section>
        </form>
    </main>

    <footer class="footer">


        <section>
            <article class="footer_anuncio">
                <i class="icons-footer fa-solid fa-credit-card" style="color: #1259c3;"></i>
                <p>
                    <strong> Pagá con tarjeta o en efectivo</strong> <br>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
              

                </p>
            </article>
            <article class="footer_anuncio">
                <i class="icons-footer fa-solid fa-gift" style="color: #1259c3;"></i>

            
                    <p><strong> Envío gratis desde $ 2.500 </strong><br>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer_anuncio">
                <i class="icons-footer fa-solid fa-user-shield" style="color: #1259c3;"></i>
                <p><strong> Seguridad, de principio a fin</strong><br>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article class="footer_anuncio">
                <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>

</html>


