<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styless.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5f01a917de.js" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    <header class="header"  > 
        
        <section class="header__sectioncolor">
     
            <a class="contenedor_logo" href="#"><img src="/img/logo-mercado-liebre.svg" alt="logo"></a>
            <form class="buscprod">
                <input class="caja_buscar" type="text" placeholder="Buscar productos, marcas" id="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
    

    
        <p class="compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
        </p></i> 
    </section> 
    <div class="burger-menu">
        <i class="fas fa-bars" aria-hidden="true"></i></div>
        <nav class="nav-home" >
            <ul class="pestanias">
                <li><a href="/home">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="pestanias">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li> 
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        </header>
<main class="main-reg-caja">
    <form  class="main-form" accion="/register" method="post">
            <section>
                <h4 class="h1_register">Datos Personales</h4>
                <article class="articulo_registro_main">
                    <label for="nombre"></label>
                    <input class="imput_register" type="text" name="nombre" id="nombre" placeholder="Ingresa nombre y apellido" required="Error" validationMessage="numeros no">
                </article>
                <article class="articulo_registro_main">
                    <label for="nombre de usuario"></label>
                    <input class="imput_register" type="text" name="nombre de usuario" id="usuario" placeholder="Ingresa nombre de usuario">
                </article>
                <article class="articulo_registro_main">
                    <label for="email"></label>
                    <input class="imput_register" type="email" name="email" id="email" placeholder="Ingresa tu email" required>
                </article>
            </section>
            <section>
                <article class="articulo_registro_main">
                    <h4 class="h1_register">Fecha de Nacimiento</h4>
                    <label for="fecha de nacimiento"></label>
                    <input class="imput_register" type="date" name="fecha">
                </article>
                <article class="articulo_registro_main">
                    <label for="domicilo"></label>
                    <input class="imput_register" type="text" name="domicilo" id="domicilo" placeholder="Domicilio">
                </article>
                <article class="articulo_registro_main">
                    <h4 class="h1_register">Perfil de Usuario</h4>
                    <select name="usuario" id="usuario">
                        <option value="comprador">comprador</option>
                        <option value="vendedor">vendedor</option>
                    </select>
                </article>
            </section>
            <section>
                <article class="articulo_registro_main" id="">
                    <h4 class="h1_register">Interes</h4>
                    <label for="Electro">Electro</label>
                    <input type="checkbox" name="interes" id="Electro">
                    <label for="Moda">Moda</label>
                    <input type="checkbox" name="interes" id="Moda">
                    <label for="Hogar">Hogar</label>
                    <input type="checkbox" name="interes" id="Hogar">
                    <label for="Jugueteria">Jugueteria</label>
                    <input type="checkbox" name="interes" id="Jugueteria">
                    <label for="Vida-Sana">Vida Sana</label>
                    <input type="checkbox" name="interes" id="Vida-Sana">
                </article>
            </section>
            <section>
                <article class="articulo_registro_main">
                    <h4 class="h1_register">Imagen de usuario</h4>
                    <label for="Selecciona una foto de perfil:"></label>
                    <input type="file" name="foto" accept="image/*">
                </article>
            </section>
            <section>
                <article class="articulo_registro_main">
                    <h4 class="h1_register">Seguridad</h4>
                    <label for="contraseña"></label>
                    <input class="imput_register" type="password" name="contraseña" id="contraseña" placeholder="Ingresa contraseña" required>
                </article>
                <article class="articulo_registro_main">
                    <label for="confirma-contraseña"></label>
                    <input class="imput_register" type="password" name="confirma-contraseña" id="confirma-contraseña" placeholder="Confirma contraseña" required>
                </article>
            </section>
                <article class="articulo_registro_main">
                    <button class="btn_enviar_registro" type="submit">ENVIAR</button>
                    <button type="reset" class="btn_reset_registro">BORRAR</button>
                </article>
        </form>
        
    <footer class="footer">


        <section>
            <article class="footer_anuncio">
                <i class="icons-footer fa-solid fa-credit-card" style="color: #1259c3;"></i>
                <p>
                    <strong> Pagá con tarjeta o en efectivo</strong> <br>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
              

                </p>
            </article>
            <article class="footer_anuncio">
                <i class="icons-footer fa-solid fa-gift" style="color: #1259c3;"></i>

            
                    <p><strong> Envío gratis desde $ 2.500 </strong><br>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer_anuncio">
                <i class="icons-footer fa-solid fa-user-shield" style="color: #1259c3;"></i>
                <p><strong> Seguridad, de principio a fin</strong><br>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article class="footer_anuncio">
                <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>

</html>
